<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu xmlns="http://openbox.org/3.4/menu">

<menu id="root-menu" label="Openbox 3">

    <item label="File Manager">
        <action name="Execute">
            <command>exo-open --launch FileManager</command>    
        </action>
    </item>
    
    <item label="Terminal">
        <action name="Execute">
            <command>urxvt</command>    
        </action>
    </item>
    
    <item label="Firefox">
        <action name="Execute">
            <command>firefox</command>    
        </action>
    </item>
    
    <separator />
    
    <menu id="programming" label="Programming">
        <item label="GVim">
            <action name="Execute">
                <command>gvim</command>    
            </action>
        </item>
      
        <item label="Geany">
            <action name="Execute">
                <command>geany</command>    
            </action>
        </item>
        
        <item label="MonoDevelop">
            <action name="Execute">
                <command>monodevelop</command>    
            </action>
        </item>
    </menu>
        
    <menu id="science" label="Science">
        <item label="Calculator">
            <action name="Execute">
                <command>speedcrunch</command>    
            </action>
        </item>
    
        <item label="WxMaxima">
            <action name="Execute">
                <command>wxmaxima</command>    
            </action>
        </item>
        
        <item label="Powder Toy">
            <action name="Execute">
                <command>powder ddir ~/.powder</command>    
            </action>
        </item>
    </menu>
    
    <menu id="graphic" label="Graphic">
        <item label="Gimp">
            <action name="Execute">
                <command>gimp</command>    
            </action>
        </item>
        
        <item label="Inkscape">
            <action name="Execute">
                <command>inkscape</command>    
            </action>
        </item>
    </menu>
    
    <menu id="office" label="Office">
        <item label="Writer">
            <action name="Execute">
                <command>libreoffice --writer</command>    
            </action>
        </item>
        
        <item label="Calc">
            <action name="Execute">
                <command>libreoffice --calc</command>    
            </action>
        </item>
    </menu>
    
    <menu id="media" label="Media">
        <item label="Deadbeef">
            <action name="Execute">
                <command>deadbeef</command>    
            </action>
        </item>
        
        <item label="Spek">
            <action name="Execute">
                <command>spek</command>    
            </action>
        </item>
        
        <item label="Clipgrab">
            <action name="Execute">
                <command>clipgrab</command>    
            </action>
        </item>
    </menu>
   
    <separator label="Tools" />
    
    <menu id="vm" label="VMs">
        <item label="Debian 6">
            <action name="Execute">
                <execute>ui-utils run_vm Debian_6</execute>
            </action>
        </item>
    
        <item label="Windows XP">
            <action name="Execute">
                <execute>ui-utils run_vm Windows_XP</execute>
            </action>
        </item>
    
        <item label="Windows 7">
            <action name="Execute">
                <command>ui-utils run_vm Windows_7</command>    
            </action>
        </item>
        
        <separator />
        
        <item label="VirtualBox GUI">
            <action name="Execute">
                <execute>virtualbox</execute>
            </action>
        </item>
    </menu>
    
    <menu id="screenshots" label="Screenshot">
        <item label="Full screen">
            <action name="Execute">
                <command>scrot -d 1 -e 'mv $f ~/screens'</command>    
            </action>
        </item>
        
        <item label="Window or area">
            <action name="Execute">
                <command>scrot -s -b -e 'mv $f ~/screens'</command>    
            </action>
        </item>    
    </menu>
    
    <separator label="System" />

    <menu id="system" label="Settings">
        <item label="Set wallpaper">
            <action name="Execute">
                <command>ui-utils show_wallpaper_dialog</command>
            </action>
        </item>
        
        <menu id="configs" label="Configs">
            <menu id="system_cfg" label="Global">
                <item label="/etc/pacman.conf">
                    <action name="Execute">
                        <command>gksu leafpad /etc/pacman.conf</command>    
                    </action>
                </item>
                
                <item label="/etc/pacman.d/mirrorlist">
                    <action name="Execute">
                        <command>gksu leafpad /etc/pacman.d/mirrorlist</command>    
                    </action>
                </item>
            </menu>
            
            <menu id="user" label="User">
                <item label="fonts.conf">
                    <action name="Execute">
                        <command>leafpad ~/.config/fontconfig/fonts.conf</command>    
                    </action>
                </item>
            
                <item label=".bashrc">
                    <action name="Execute">
                        <command>leafpad ~/.bashrc</command>    
                    </action>
                </item>
                
                <item label=".Xresources">
                    <action name="Execute">
                        <command>leafpad ~/.Xresources</command>    
                    </action>
                </item>
                
                <item label=".xinitrc">
                    <action name="Execute">
                        <command>leafpad ~/.xinitrc</command>    
                    </action>
                </item>
                
                <menu id="user_openbox" label="Openbox">
                    <item label="autostart">
                        <action name="Execute">
                            <command>leafpad ~/.config/openbox/autostart</command>    
                        </action>
                    </item>   
                    
                    <item label="menu.xml">
                        <action name="Execute">
                            <command>leafpad ~/.config/openbox/menu.xml</command>    
                        </action>
                    </item> 
                    
                    <item label="rc.xml">
                        <action name="Execute">
                            <command>leafpad ~/.config/openbox/rc.xml</command>    
                        </action>
                    </item> 
                </menu>
            </menu>
  
            <separator />
            
            <item label="visudo">
                <action name="Execute">
                    <command>gksu EDITOR=leafpad visudo</command>    
                </action>
            </item>
        </menu>
        
        <item label="Reconfigure OB">
            <action name="Reconfigure" />
        </item>
    </menu>

    <menu id="shutdown" label="Shutdown">
        <item label="Logout">
            <action name="Exit"></action>
        </item>
    
        <item label="Suspend">
            <action name="Execute">
                <execute>sudo pm-suspend</execute>
            </action>
        </item>
    
        <item label="Reboot">
            <action name="Execute">
                <command>sudo reboot</command>    
            </action>
        </item>

        <item label="Poweroff">
            <action name="Execute">
                <command>sudo poweroff</command>    
            </action>
        </item>
    </menu>
</menu>

</openbox_menu>
